*{
    margin: 0;
    padding: 0;
}

body {
    font-family: roboto condensed,sans-serif; 
    color: #8c9bb1;  
    line-height: 1.42857143;
}

/* header */

header{
    display: flex;
    justify-content: space-between;
    height: 40px;
    align-items: center;
    padding: 0 20px;
    /* box-shadow: 1px 1px 0px 0px #b9bcc2; */
    border-bottom: 1px solid rgba(135,151,174,.15);
    margin-left: 10px;
    margin-right: 10px;
}

header .web_icon svg{
    width: 15px;
    height: 15px;
    fill: #97a5b9;
    padding: 5px;
}

header .web_icon svg:hover{
    fill: #00cec9;
}

header .web_phone .phone:hover{
    color: #00cec9;
}

/* nav */

nav {
    margin-bottom: 3px;
}

nav .web_nav{
    width: 1150px;
    margin: 0 auto;
    height: 90px;
}

nav .web_nav .web_logo{
    float: left;
}

nav .web_nav .web_menu{
    float: right;
}

nav .web_nav .web_logo img{
    width: 200px;
    margin-top: 15px;
}


nav .web_nav .web_menu ul .menu{
    list-style: none;
    float: left;
    padding: 35px 14px 35px;
    max-height: 90px;
    transition: all 0.1s linear;
}
nav .web_nav .web_menu ul .sign{
    list-style: none;
    float: left;
    padding: 30px 12px 35px;
    max-height: 90px;
}

nav .web_nav .web_menu ul .menu a{
    text-decoration: none;
    color: #3a3f45;
    display: block;
    font-weight: bolder;
    transition: all 0.1s linear;
}

nav .web_nav .web_menu ul .menu:hover{
    background-color: #fafafa;
    transition: all 0.1s linear;
}

nav .web_nav .web_menu ul .menu a:hover{
    color: #00cec9;
    transition: all 0.1s linear;
}


nav .web_nav .web_menu ul .sign_in{
    background-color: #fff;
    font-weight: lighter;
    text-align: center;
    width: 100px;
    height: 30px;
    border: 1px solid #8c9bb1;
    border-radius: 20px;
}

nav .web_nav .web_menu .sign_up{
    background-color: #fff;
    font-weight: lighter;
    text-align: center;
    width: 100px;
    height: 30px;
    border: 1px solid #8c9bb1;
    border-radius: 20px;
}

nav .web_nav .web_menu .sign_up:hover{
    background-color: #333;
    color: white;
    border: none;
}

nav .web_nav .web_menu .sign_in:hover{
    background-color: #333;
    color: white;
    border: none;
}


/* article */

article .container {
    width: 1140px;
    margin: 0 auto;
}

article .container .row{
    font-weight: 600;
    padding-top: 80px;
    
}

article .container .row .info{
    margin-bottom: 130px;
}
article .container .row .info .col_1,.col_2,.col_3{
    float: left;
    width: 360px;
    padding: 0 10px;
}
article .container .row .info .col_1 .product h3{
    font-size: 30px;
    color: #505050;
    margin-bottom: 10px;
}

article .container .row .info .col_1 .product span{
    color: #eb5d68;
}

article .container .row .info .col_2{
    text-align: center;
}

article .container .row .info .col_2 .product{
    font-size: 32px;
    font-weight: 600;
    color: #32c5d2;
}

article .container .row .info .col_3{
    text-align: right;
}

article .container .row .info .col_3 .product .item {
    color: #fff;
    background: #32c5d2;
    border-color: #32c5d2;
    padding: 12px 16px;
    border: none;
    font-weight: 600;
    font-size: 16px;
    transition: all 0.2s linear;

}

article .container .row .info .col_3 .product .item:hover{
    background: #1a9eaa;
    transition: all 0.2s linear;
}

article .container .row .info .col_3 .product .item2{
    color: #fff;
    background: #e7505a;
    border-color: #e7505a;
    padding: 12px 16px;
    border: none;
    font-weight: 600;
    font-size: 16px;
    margin-left: 10px;
    transition: all 0.2s linear;
}

article .container .row .info .col_3 .product .item2:hover{
    transition: all 0.2s linear;
    background: #c63942;
}
article .container .row .info .col_3 .product .item,.item2{
    margin-bottom: 13px;
}

article .container .row .info .col_3 .product .item3{
    background-color: #3cb878;
    color: #fff;
    padding: 12px 16px;
    border: none;
    font-weight: 600;
    margin-right: 10px;
    font-size: 16px;
}

article .container .row .info .col_3 .product .item4{
    background-color: #3cb878;
    color: #fff;
    padding: 12px 16px;
    border: none;
    font-weight: 600;
    font-size: 16px;
}

article .container .visible{
    font-weight: 600;
    font-size: 18px;
}


article .container .visible .icon_dot{
    display: block;
    height: 2px;
    background: #3f444a;
    margin: 20px 0;
}

article .container .visible .contai .col_4{
    float: left;
    width: 33.3%;
    margin-bottom: 15px;
}

article .container .visible .contai .col_4,.col_6{
    color: #5c6874;
}

article .container .visible .contai .col_4 span,.col_6 span{
    color: #eb5d68;
}

article .container .visible .contai .col_6{
    clear: left;
    
}

article .container .image p img{
    display: block;
    margin: 15px auto;
    padding: 3px;
    border: 1px solid #ccc;
    border-radius: 4px;
    max-width: 70%;
}

article .container .image .btn{
    text-align: center;
}

article .container .image .btn button{
    color: #fff;
    background: #32c5d2;
    border: none;
    padding: 15px 26px 13px;
    font-weight: 600;
    transition: all 0.2s linear;
}

article .container .image .btn button:hover{
    background: #25b2be;
    transition: all 0.2s linear;
}

article .container .title_1{
    margin-top: 60px;
}

article .container .title_1 h3{
    text-align: center;
    font-size: 30px;
    color: #505050;
    margin-bottom: 25px;
}

article .container .title_1 .line{
    width: 90px;
    height: 3px;
    background-color: #32c5d2;
    margin: 0px auto 30px;
}

article .container .container_pad{
    display: flex;
    padding: 0 10px;
    justify-content: space-between;
    flex-wrap: wrap;
    
}

article .container .container_pad .contai{
    border: 1px solid #ddd;
    padding: 1px;
    width: 250px;
    margin-bottom: 20px;
}

article .container .container_pad .contai .classwith {
    position: relative;
}

article .container .container_pad .contai .classwith .col_8 .image a img{
    width: 100%;
    height: 180px;
    vertical-align: middle;
}



article .container .container_pad .contai .classwith .col_8 .image a{
    text-decoration: none;
    
}

article .container .container_pad .contai .classwith .col_8 .image a span{
    position: absolute;
    padding: 2px 7px;
    background-color: #a94442;
    top: 5px;
    right: 0;
    color: #fff;
    font-weight: 700;
    font-size: 15px;
}

article .container .container_pad .contai .classwith .col_8 .image .name{
    border-radius: 0;
    padding: 8px;
    display: block;
    background-color: #32c5d2;
    font-weight: 700;
    line-height: 1;
    font-size: 75%;
    color: #fff;
    text-align: center;
}

article .container .container_pad .contai .classwith .attribute .row{
    font-size: 15px;
    padding: 5px 0;
    text-align: center;
    margin-bottom: 5px;
    color: #555;
    width: 50%;
    font-weight: 400;
}

article .container .container_pad .contai .classwith .attribute{
    display: flex;
    flex-wrap: wrap;
    margin-top: 10px;
}

article .container .container_pad .contai .more .item{
    border: 1px solid red;
    width: 103px;
    color: red;
    padding: 6px 0;
}
article .container .container_pad .contai .more{
    text-align: center;
    display: flex;
    justify-content: space-between;
    margin: 10px 10px 15px;
}


article .container .container_pad .contai .more .view{
    background-color: #32c5d2;
    width: 105px;
    padding: 6px 0;
}

article .container .container_pad .contai .more .view:hover{
    background-color: #56d7e3;
}

article .container .container_pad .contai .more .view a{
    text-decoration: none;
    color: #fff;
    display: block;
}


/* footer */

footer{
    width: 100%;
    height: 425px;
    background-color: #2f353b;
}

footer .prefooter{
    padding: 80px 10px 0;
    display: flex;
    height: 280px;
}

footer .prefooter .container_1{
    width: 350px;
    padding: 0 20px;
}

footer .prefooter .container_1 p{
    margin-bottom: 10px;
}

footer .prefooter .container_1 ul {
    list-style: none;
}

footer .prefooter .container_1 ul li{
    float: left;
    margin-right: 15px;
}

footer .prefooter .container_1 ul li a{
    text-decoration: none;
}

footer .prefooter .container_1 ul li a svg{
    padding: 10px;
    background: #1e2226;
    fill: #54606b;
    font-size: 18px;
    font-weight: 700;
    width: 20px;
    height: 20px;
}

footer .prefooter .container_2{
    clear: left;
    width: 350px;
    padding: 0 20px;
}
footer .prefooter .container_2 h3 {
    color: #fff;
    padding-bottom: 30px;
    font-size: 22px;
}

footer .prefooter .container_2 p{
    color: #4a5560;
    margin-bottom: 20px;
}

footer .prefooter .container_2 ul li{
    list-style: none;
    padding: 5px 0;
    height: 20px;
    display: flex;
    align-items: center;
}

footer .prefooter .container_2 ul li a{
    text-decoration: none;
    color: #627a8b;
}

footer .prefooter .container_2 ul li svg{
    width: 20px;
    height: 20px;
    line-height: 15px;
    margin-right: 10px;
    fill: #32c5cf;
}

footer .postfooter .row{
    padding: 20px 30px;
}
footer .postfooter .row a{
    text-decoration: none;
    color: #32c5cf;
    
}